html {
    background-color: black;
    background: url('../Assets/BG.png') repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url('../Assets/Cursor.png') 11 8, auto;
}
body {
    margin: 0px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: WanderersLost, Courier, monospace;
    text-underline-offset: 4px;
    cursor: url('../Assets/Cursor.png') 11 8, auto;
}
h1 {
    text-underline-offset: 12px;
    text-decoration: underline;
}
h2 {
    text-underline-offset: 12px;
    text-decoration: underline;
}
h3 {
    text-underline-offset: 12px;
    text-decoration: underline;
}
a:link {
    color: deepskyblue;
}
a:active {
    color: royalblue;
}
a:visited {
    color: slateblue;
}
.Title {
    font-size: 50px;
}
.Links {
    text-decoration: none;
}
.LinkButton {
    width: 168px;
    height: 168px;
    image-rendering: pixelated;
    transition: 0.5s;
    background-color: transparent;
    border-radius: 2px;
    cursor: url('../Assets/Cursor_Hover.png') 18 9, pointer;
}
.LinkButton:hover {
    transform: scale(1.5);
    margin: 0px 50px 0px 50px;
    background-color: rgba(255, 255, 255, 0.404);
}
.LinkButtonSmol {
    width: 72px;
    height: 72px;
    image-rendering: pixelated;
    transition: 0.25s;
    border-radius: 2px;
    cursor: url('../Assets/Cursor_Hover.png') 18 9, pointer;
}
.LinkButtonSmol:hover {
    transform: scale(1.75);
    margin: 25px 0px 25px 0px;
    background-color: rgba(255, 255, 255, 0.404);
}
linktab {
    width: 110px;
    height: 99.25%;
    position: fixed;
    top: 0%;
    left: -70px;

    background-image: linear-gradient(to bottom, rgb(3, 76, 145), rgb(18, 18, 119),rgb(18, 18, 119),rgb(18, 18, 119) );
    box-shadow: 0px 0px 10px deepskyblue;
    border: 4px deepskyblue ridge;

    vertical-align: middle;
    transition: 0.5s;
}
linktab:hover {
    width: 220px;
    left: -3px;
}
textarea {
    cursor: url('../Assets/Cursor.png') 11 8, auto;
}
input {
    cursor: url('../Assets/Cursor.png') 11 8, auto;
}
a {
    cursor: url('../Assets/Cursor_Hover.png') 18 9, auto;
}
button {
    font-family: WanderersLost;
    background-color: black;
    border-radius: 2px;
    border: 2px white solid;
    color: white;
    cursor: url('../Assets/Cursor_Hover.png') 18 9, auto;
}
audio {
    background-color: gray;

    box-shadow: 0px 0px 10px gray;
    border: 4px gray ridge;
}
.WindowContainer {
    background-image: url('../Assets/BG04.png');
    padding: 10px 10px 100px;
    margin-top: 10px;

    box-shadow: 0px 0px 10px gray;
    border: 4px gray ridge;
}
.RetroWindow {
    background-image: linear-gradient(to bottom, rgb(3, 76, 145), rgb(18, 18, 119),rgb(18, 18, 119),rgb(18, 18, 119) );
    box-shadow: 0px 0px 10px deepskyblue;
    border: 4px deepskyblue ridge;

    vertical-align:middle;
    max-width: 1025px;
    display: inline-block;

    padding: 15px 5px 15px;
    border-radius: 12.5px;

    color: white;
    font-size: 30px;
    text-align: center;
    font-family: WanderersLost, Courier, monospace;
}
.TextBox {
    background-color: #000000;
    background-image: url('../Assets/BG02.png');
    background-repeat: repeat;

    padding: 25px;
    vertical-align:middle;
    max-width: 1025px;
    display: inline-block;

    border-radius: 2px;
    border: 4px #292d3f solid;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: WanderersLost, Courier, monospace;
}
.BlogCard {
    background-color: #000000;
    background-image: url('../Assets/BG02.png');
    background-repeat: repeat;
    background-size: cover;

    margin-bottom: 20px;
    padding: 25px;
    vertical-align:middle;
    width: 300px;
    height: 65px;
    display: inline-block;

    border-radius: 2px;
    border: 2px white solid;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: WanderersLost, Courier, monospace;
    transition: 0.5s;
}
.BlogCard:hover {
    transform: scale(1.4);
}
.ChangePageButton {
    display: flexbox;
    float:none;
    width: 120px;
    height: 80px;
    margin: 0px 30px 0px;
    cursor: url('../Assets/Cursor_Hover.png') 18 9, auto;
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 40px;
    font-family: WanderersLost, Courier, monospace;
    outline: none;
    transition: 0.5s;
    background-color: rgb(87, 95, 117);
    border: 4px transparent solid;
    border-radius: 2px;
    vertical-align: middle;
  }
  .ChangePageButton:hover {
    transform: scale(1.2);
    background-color: rgb(133, 142, 168);
  }
  .ChangePageButton.active {
    cursor: url('../Assets/Cursor_NuhUh.png') 11 8, auto;
    color: rgb(129, 89, 158);
    border-color: rgb(129, 89, 158);
    transform: scale(1.4);
    background-color: white;
  }
  thought {
    color: gray;
    font-size: 12px;
  }
  #linkWindow {
    border-radius: 2px;
  }